
	</style>
	<link rel="stylesheet" href="/css/materialDesign.css">

	</head>
	<body>
	<div style="float:right">
					<hr/>
					<br/>
					<a href="/user/profile">Profile</a>
					<a href="/user/home">Home</a>
					<a href="/home/home">Signout</a>
					<hr/>
				</div>

<center>
<hr/>
<h2><b>Profile</b></h2>
<hr/>
<b><div><br/>
Name      : <%= @name %><br/><br/>
Email     : <%= @email %><br/><br/>
Mobile    : <%= @mobile %><br/><br/>
Username  : <%= @username %> <br/><br/>
</div></b>	</center>
